.venv/
data/
outputs/
__pycache__/
.ipynb_checkpoints/

inputs/**
outputs/**
.DS_Store
activate.sh
notebooks/weights/
notebooks/yolov8n.pt
yolov8n.pt
yolov8n.pt
notebooks/weights/
secrets/
secrets/
.venv/
