# Virtual environment
.venv/
__pycache__/
.ipynb_checkpoints/

# Local data and outputs
data/
outputs/
inputs/
exports/
logs/
models/

# Temporary / weights
*.pt
*.onnx
notebooks/weights/
notebooks/yolov8n.pt

# Secrets
secrets/
.env
.DS_Store
activate.sh