#######################################
# Środowiska wirtualne
#######################################
.venv/
.venv311/
.venv*/

#######################################
# Python cache
#######################################
__pycache__/
*.pyc
*.pyo
*.pyd

#######################################
# Jupyter
#######################################
.ipynb_checkpoints/
**/.ipynb_checkpoints/

#######################################
# Dane lokalne (nie wersjonujemy)
#######################################
data/
inputs/
outputs/
exports/
logs/
models/

#######################################
# Wagi modeli / duże pliki
#######################################
*.pt
*.onnx
notebooks/weights/
notebooks/yolov8n.pt

#######################################
# Sekrety i konfiguracje lokalne
#######################################
secrets/
.env
activate.sh

#######################################
# System / IDE
#######################################
.DS_Store
.idea/
*.code-workspace